<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="#">&nbsp&nbsp&nbspBooks Manager</a>
    <button type="button" class="btn btn-success" ng-click="addBtn()">Add Books</button>
        </div>
</div>
        <div class="container">
  <table class="table table-striped">
    <tr ng-repeat="book in books.books">
      <td class="span12">
       <a ng-href="{{ book.details.volumeInfo.canonicalVolumeLink }}"><img ng-src="{{ book.details.volumeInfo.imageLinks.thumbnail }}"></a>
      </td>
      <td class="span12">
        <h4 ng-bind="book.details.volumeInfo.title"></h4>
        <h5 ng-bind="book.details.volumeInfo.authors"></h5>
        <h5 ng-bind="book.details.volumeInfo.publishedDate"></h5>
        <h6 ng-bind="book.details.volumeInfo.pageCount"></h6>
        <h6 ng-bind="book.details.volumeInfo.categories"></h6>
        <p ng-bind="book.details.volumeInfo.description"></p>
      </td>
    </tr>
  </table>
        </div>