<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="#">&nbsp&nbsp&nbspBooks Manager</a>
    <button type="button" class="btn btn-success" ng-click="addBtn()">Add Books</button>
        </div>
</div>
        <div class="container">
  <table class="table table-striped">
    <tr ng-repeat="item in books.books">
      <td class="span12 book:item"  >
      </td>
      <td class="span12">
        <h4 ng-bind="item.details.volumeInfo.title"></h4>
        <h5 ng-bind="item.details.volumeInfo.authors"></h5>
        <h5 ng-bind-html-unsafe="item.details.volumeInfo.averageRating | rating"></h5>
        <h5 ng-bind="item.details.volumeInfo.publishedDate"></h5>
        <h6 ng-bind="item.details.volumeInfo.pageCount | pages"></h6>
        <h6 ng-bind="item.details.volumeInfo.categories"></h6>
        <button class="btn btn-danger" ng-click="removeBook(item.id)"><span class="icon-remove-circle"></span> Remove Book</button>
        <p ng-bind="item.details.volumeInfo.description | textLimit"></p>
      </td>
    </tr>
  </table>
        </div>