<div class="hero-unit">
  <h1>Books Manager</h1>
  <table class="table table-striped">
    <tr  ng-repeat="item in books.books">
      <td class="span2" book="item"></td>
      <td class="span-10">
        <h4 ng-bind="item.details.volumeInfo.title"></h4>
        <button class="btn btn-danger" ng-click="removeBook(item.id)"><span class="icon-remove-circle"></span> Remove Book</button>
        <h5 ng-bind="item.details.volumeInfo.authors"></h5>
        <h5 ng-bind-html-unsafe="item.details.volumeInfo.averageRating | rating"></h5>
        <h5 ng-bind="item.details.volumeInfo.publishedDate"></h5>
        <h6 ng-bind="item.details.volumeInfo.pageCount"></h6>
        <h6 ng-bind="item.details.volumeInfo.categories"></h6>
        <p ng-bind="item.details.volumeInfo.description"></p>
      </td>
    </tr>
  </table>
</div>
